.logo-bg {
  background-color: blanchedalmond;
}

.logo {
  max-height: 400px;
}

@media only screen and (max-width: 600px) {
    .logo {
      max-height: 300px;
    }
  }

@media only screen and (max-width: 400px) {
  .logo {
    max-height: 250px;
  }
}
